body {
    font-family: Arial, sans-serif;
    background-image: url('background-image.jpg'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    position: relative;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.logo-small, .logo-small-left {
    width: 70px;
    height: auto;
}

/* Form Styles */
form {
    background-color: rgba(235, 232, 239, 0.9); /* Slight transparency for background */
    padding: 40px; /* Adjusted padding for better layout */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center; /* Center text in the form */
}

h1 {
    color: #333;
    font-size: 28px; /* Increased font size for better readability */
    margin-bottom: 20px;
    text-align: center; /* Center the header text */
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

textarea {
    resize: vertical;
}

button.submit-btn {
    background-color: #040484;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button.submit-btn:hover {
    background-color: #040484;
}

#form-response {
    margin-top: 20px;
    text-align: center;
    color: #ff0000;
    font-weight: bold;
}